body {
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
}

.mainH1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 40px;
  color: #f7f7f7;
  font-size: 250%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
}

.sectionHeader {
  display: container-fluid;
  color: #f7f7f7;
  text-align: center;
  border-bottom: solid;
  border-color: #ca3e47;
  background: #292b2c ;
}

.dark {
  background-color: #313131;
  color: white;
}

.light {
  background-color: white;
}

.selected {
  border: solid;
  border-color: #ca3e47;
  border-radius: 30px;
  border-width: 1px;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}

.pagination .active >.page-link {
  background-color: #ca3e47 !important;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #313131;
  color: white;
}

.pagination .page-item a {
  color: #313131;
}

footer {
  border-bottom: solid;
  border-color: #ca3e47;
  background: #292b2c ;
}

footer p {
  color: #f7f7f7;
}

.formWindow {
  display: block;
  margin-top: 3px;
  padding: 3%;

}

.formWindow container {
  border-radius: 5px;
  color: #313131;
}

.hero1 {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/library111.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  justify-content: center;
  text-align: center;
  width: auto;
  color: #f7f7f7;
}

.header-area {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.header-area a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;

}

.header-area a {
  text-decoration: none;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;

}

.nav-switch {
  display: none;
}

.nav-menu {
  display: inline-block;
}

.nav-menu ul {
  align-items: center;
  list-style: list-group;
}

.nav-menu ul li {
  display: inline-block;
}

.nav-menu ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  padding: 40px 10px 5px;
  position: relative;
  text-transform: uppercase;
}

.nav-menu ul li a:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 0;
  left: 50%;
  margin-left: 1px;
  top: 0;
  background: #ca3e47;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-menu ul li a:hover:after {
  height: 25px;
}

.nav-menu ul li.active>a:after {
  height: 25px;
}
